<div data-role="appbar" data-expand-point="md" class=" bg-grayBlue">
  <ul class="app-bar-menu bg-active">
    <li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Costumes", posts_path %></li>
  </ul>

  <div class="pos-fixed pos-top-center">	
    <span style="width: 255px; height: 300px;" class="p-2 border bd-dark border-radius">
      Maz's causeplay design and creation.
    </span>
	</div>

	<div>
		<a href="#"><span class="mif-more-vert fg-black"></span></a>
	    <ul class="d-menu bg-darkGrayBlue pos-top-right" data-role="dropdown">
	      <li><%= login_helper %></li>
	    </ul>
  </div>
</div>