

<h1>Hi <%= current_user.first_name %></h1>

<%= @posts.inspect %>

<div class="grid">
	<div class="row">
    <div class="cell parent-cell">
      <div class="row">
        <div class="cell picture-cell"><div>image</div></div>
        <div class="cell title-cell"><div>nested</div></div>
        <div class="cell text-cell"><div>nested</div></div>
        <div class="cell links-cell"><div>nested</div></div>
      </div>
    </div>
	</div>

	<div class="row">
    <div class="cell parent-cell">
      <div class="row">
      	<div class="cell title-cell"><div>nested</div></div>      
        <div class="cell text-cell"><div>nested</div></div>
        <div class="cell links-cell"><div>nested</div></div>
        <div class="cell picture-cell"><div>image</div></div>
      </div>
    </div>
	</div>

	<div class="row">
    <div class="cell parent-cell">
      <div class="row">
        <div class="cell picture-cell"><div>image</div></div>
        <div class="cell title-cell"><div>nested</div></div>
        <div class="cell text-cell"><div>nested</div></div>
        <div class="cell links-cell"><div>nested</div></div>
      </div>
    </div>
	</div>
</div>