<div class="head-space"></div>
<p id="notice"><%= notice %></p>


	<div class="container-fluid">
		<div class="grid">
			<div class="row">
				<%= @post.title %>
			</div>

			<div class="row">
				<div class="cell">
					<%= image_tag post_img(@post.image, 'main') %>
				</div>
			</div>

			<div class="row">
				<div class="cell">
					<%= @post.body %>
				</div>
			</div>
		</div>
	</div>


