.app-bar .hamburger {
    right: 0;
}

#background { 
  background: image-url('/assets/sewing.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  -moz-background-size: cover;
  background-size: cover; 
}

.container {
  background-color: transparent;
  margin-top: 50px;
}

.head-space {
  margin-top: 60px;
}

.thumb_image {
  height: auto;
  width: auto;
}
