
.app-bar .hamburger {
  right: 0;
}

.thumb_image {
  max-height: 100%;
  max-width: 100%;
}

.new-post-button {
	color: white;
}

.head-space {
  margin-top: 60px;
}

.new-post-styles {
	width: 1000px;
	padding: 40px
}

body {
	background-color: gray;
}